-f /usr/share/pip-wheels
asn1crypto
certifi
cffi
chardet
Click
cryptography
Flask
idna
itsdangerous
Jinja2
MarkupSafe
ndg-httpsclient
pusher
pyasn1
pycparser
pycryptodome
PyNaCl  
pyOpenSSL
pyotp
pypng
PyQRCode
requests
simple-crypt
six
urllib3
Werkzeug